/******  PRIMARY COLOR  ******/
$primary-color: #492609;
$primary-color-light1: #694429;
$primary-color-light2: #8a6449;
$primary-color-light3: #ac856c;
$primary-color-light4: #cfa890;
$primary-color-light5: #f2cdb6;
$primary-color-dark1: #361e0a; //#341409;
$primary-color-dark2: #1d1209;
/******  SECONDARY COLOR  ******/
$secondary-color: #ffb00d;
$secondary-color-light1: #facd5f;
$secondary-color-light2: #fada7e;
$secondary-color-light3: #fae69d;
$secondary-color-light4: #fffbdb;
$secondary-color-dark1: #e18921;
$secondary-color-dark2: #bd6628;
$secondary-color-dark3: #954727;
$secondary-color-dark4: #6a2e22;
$secondary-color-text: #3f1811;
/******  GRAY  ******/
$gray1: #c3c3c3;
$gray2: #a5a5a5;
$gray3: #878787;
$gray4: #787878;
$gray5: #5a5a5a;
$gray6: #3c3c3c;
/******  MISC  ******/
$error: #8f0000;
/******  BACKGROUND COLORS  ******/
$background-color-bright: #e1e1e1;
$background-color-bright2: #eaeaea;
/******  TEXT COLORS  ******/
$text-color-bright: #e1e1e1;
$text-color-dark: #1e1e1e;
/******  SPECIAL COLORS  ******/
$rarity-basic: #247222;
$rarity-common: #858585;
$rarity-rare: #286097;
$rarity-epic: #674196;
$rarity-legendary: #99631d;
$color-import: #c42f24;
$color-import-outline: #6b0f08;
$color-export: #229e12;
$color-export-outline: #0b5c01;

$font-std: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-hearthstone: "Belwe Std Bold", sans-serif;

$light: 200;
$regular: 400;
$semibold: 600;
$bold: 700;
$black: 800;

$navbar-height: 50px;

@mixin background-size ($bg-size) {
    -webkit-background-size: $bg-size;
    -moz-background-size: $bg-size;
    -o-background-size: $bg-size;
    background-size: $bg-size;
}

@mixin control-style ($style) {
    -webkit-appearance: $style;
    -moz-appearance: $style;
    appearance: $style;
}

/* renders the text of this element as mana (Belwe Std Bold font, white color with black outline) */
@mixin manafy () {
    font-family: $font-hearthstone;
    color: white;
    text-shadow: -1px -1px 0 black,
                  1px -1px 0 black,
                 -1px  1px 0 black,
                  1px  1px 0 black;
}

/* renders the text as white with a black outline */
@mixin cardfy () {
    font-weight: $semibold;
    color: white;
    text-shadow: -1px -1px 0 black,
                  1px -1px 0 black,
                 -1px  1px 0 black,
                  1px  1px 0 black;
}

@font-face {
    font-family: "Belwe Std Bold";
    src: url("fonts/belwe-std-bold.otf") format("opentype");
}

:root {
    font-family: $font-std;
}

b {
    font-weight: $semibold;
}

body {
    background-color: $background-color-bright;
    color: $text-color-dark;
    margin: 0;
}

/* the content section must fit the entire screen except for the part covered by the navbar */
.page-content {
    margin-top: $navbar-height;
    margin-left: 0px;
    min-height: calc(100vh - #{$navbar-height});
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    background: $primary-color;
    width: 100%;
    height: $navbar-height;
    padding-right: 100px;
    color: $secondary-color-light4;
    z-index: 10;

    .nav-item {
        font-weight: $semibold;
        line-height: 35pt;
        color: $secondary-color-light4;
        text-decoration: none;

        &:focus, &:active {
            outline: none;
            border: none;
            -moz-outline-style: none;
        }

        &.title {
            float: left;
            font-size: 18pt;
            padding-left: 130px;
        }
        &:not(.title) {
            float: right;
            padding-right: 20px;
        }
    }

    .dropdown-toggle {
        background-color: $primary-color-light1;
        border: none;
        border-radius: 5px;
        padding: 4px 10px 7px 10px;
        font-weight: $semibold;
        color: $secondary-color-light4;
        font-family: $font-std;
        font-size: 12pt;
        margin-top: 9px;

        &.open {
            background-color: $primary-color-light3;
        }

        &:hover {
            cursor: pointer;
            background-color: $primary-color-light2;
        }

        &:active {
            outline: none;
        }
    }

    .dropdown-container {
        position: relative;
        float: right;
    }

    .dropdown-menu {
        position: absolute;
        width: 260px;
        left: -85px;
        border-radius: 10px;
        box-shadow: 3px 3px 8px $primary-color-dark2;
        div {
            height: 32px;
            padding: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $secondary-color;
            color: $text-color-dark;

            &:first-child {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            &:last-child {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            &:hover {
                cursor: pointer;
                background-color: $secondary-color-dark1;
            }
            &.selected {
                font-weight: $semibold;
                background-color: $secondary-color-dark2;
            }

            img {
                height: 18px;
                width: 27px;
                object-fit: stretch;
                outline: 1px solid $secondary-color-dark3;
            }
            span {
                width: 100%;
                text-align: center;
            }
        }
    }
}

main {
    margin-top: $navbar-height;
    //height: calc(100vh - #{$navbar-height} - 20px);
    padding: 10px 20px;

    &.left-aside {
        margin-left: 300px;
    }
    
    &.right-aside {
        margin-right: 300px;
    }

    &.bottom-aside {
        margin-bottom: 300px;
    }
}

.aside-chart {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 300px;
    width: calc(100% - 602px);
    background-color: $secondary-color-light2;
    margin-left: 300px;
    margin-right: 300px;

    .mana-chart {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .legend {
            width: 120px;
            background-color: $secondary-color-light3;
            padding: 10px;
            border-radius: 10px;

            .entry {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 5px;
                .color {
                    display: block;
                    width: 24px;
                    min-width: 24px;
                    height: 24px;
                    border: 1px solid black;
                }
                .label {
                    padding-left: 10px;
                    width: 100%;
                    color: $primary-color-dark2;
                }
            }
        }
    }
}

.aside-tools {
    background-color: $secondary-color;

    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    overflow-x: hidden;

    height: calc(100% - 50px);
    width: 300px;

    /* make scrollbar smaller again */
    scrollbar-width: thin;
    &::-webkit-scrollbar { 
        display: none; 
    }
    
    a {
        text-decoration: none;
        color: $text-color-dark;
    }

    span {
        a {
            display: block;
            width: 100%;
            text-decoration: none;
            color: $text-color-dark;
        }

        &.title {
            display: block;
            width: 100%;
            font-size: 14pt;
            font-weight: $semibold;
            text-align: center;
            text-transform: uppercase;
            height: 40px;
            padding-top: 15px;
        }

        &.section {
            display: block;
            width: 100%;
            background-color: $secondary-color-dark1;
            //padding-left: 10px;
            padding: 3px 0 3px 10px;
            text-transform: uppercase;
            font-weight: $semibold;
            color: $secondary-color-text;
        }

        &.option {
            display: block;
            width: 100%;
            padding: 5px 0 5px 20px;

            &:not(:last-child) {
                border-bottom: 1px solid $secondary-color-dark1;
            }

            &.chosen {
                background-color: $primary-color;
                color: $text-color-bright;
                border-bottom: 1px solid $primary-color-dark2;

                &:hover {
                    background-color: $primary-color-light1;
                }
            }
        }
        &.option:hover {
            cursor: pointer;
            background-color: $secondary-color-light1;
        }
    }

    div {
        &.legend-info {
            width: 100%;
            height: 22px;
            padding: 5px 0 5px 0;

            > .legend {
                float: left;
                padding-left: 20px;
            }

            > .value {
                float: right;
                padding-right: 20px;
                text-align: right;
                font-weight: $semibold;
                color: $primary-color;
            }

            &:not(:last-child) {
                border-bottom: 1px solid $secondary-color-dark1;
            }
        }

        &.legend-info-icon {
            width: 100%;
            height: 32px;
            padding-top: 2px;
            padding-bottom: 2px;

            > .legend {
                float: left;
                padding-left: 20px;
                line-height: 27px;
            }

            > .value {
                float: right;
                padding-right: 16px;

                > span {
                    float: left;
                    text-align: right;
                    font-weight: $semibold;
                    color: $primary-color;
                    padding-right: 8px;
                    line-height: 27px;
                }

                > img {
                    display: block;
                    float: right;
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid $secondary-color-dark1;
            }
        }

        &.info {
            width: 100%;
            text-align: center;
            padding: 5px 0 5px 0;
            > span {
                display: inline-block;
                margin-left: 20px;
                margin-right: 20px;
                color: $primary-color;
            }

            &:not(:last-child) {
                border-bottom: 1px solid $secondary-color-dark1;
            }

            &.flavor {
                font-style: italic;
            }
        }

        &.class-buttons, &.cost-buttons {
            text-align: center;
            margin: 10px 30px 10px 30px;

            > .button {
                &:hover {
                    cursor: pointer;
                }
                &:not(.chosen) {
                    opacity: 60%;
                }
                margin: 0 2px 0 2px;
            }
        }
    
        &.display-card {
            width: 100%;
            padding: 10px 0 15px 0;

            img {
                display: block;
                margin: 0 auto;

                width: 256px;
                height: 335px;
                object-fit: cover;
                object-position: 0 30%;
                
                &.hero-pos {
                    object-position: 0 60%;
                }
            }
        }
    }

    .play-audio {
        width: 48px;
        height: 24px;
        margin-top: -1px;
        border: none;
        border-radius: 4px;
        background-color: $secondary-color-dark1;
        font-size: 16pt;
        color: $secondary-color-text;

        &:focus, &:active {
            outline: none;
            border: none;
            outline-style: none;
            -moz-outline-style: none;
        }
    }
}

.class-button {
    &:focus, &:active {
        outline: none;
        border: none;
        -moz-outline-style: none;
    }
}

.mana-crystal {
    display: inline-block;
    background-image: url("/src/img/mana-crystal.png");
    width: 32px;
    height: 32px;
    font-size: 16pt;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    @include background-size(cover);
    @include manafy();
}

.card-filters {
    $search-max-width: 500px;
    $exp-menu-width: 250px;
    display: flex;

    .search-card {
        $padding-left: 35px;
    
        width: calc(100% - #{$exp-menu-width});
        max-width: $search-max-width;
        position: relative;
    
        > input {
            background-color: transparent;
            border: none;
            border-bottom: 2px solid $primary-color;
            font-size: 11pt;
            padding: 7px 0px 7px $padding-left;
            width: calc(100% - #{$padding-left});
            max-width: $search-max-width;
    
            &:focus {
                outline: none;
            }
        }
    
        > span {
            color: $primary-color;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            display: block;
            width: 34px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            pointer-events: none;
        }
    }
    
    .filter-exp {
        padding-left: 20px;
    
        > select {
            width: 250px;
            background-color: transparent;
            font-weight: $semibold;
            color: $primary-color;
            border: 1px solid $primary-color;
            border-radius: 5px;
            padding: 7px 0px 7px 5px;
            //@include control-style(none);
            
            option:first-child {
                color: $gray3;
            }
        }
    }
}

.card-container-gallery, .card-container-list {
    margin: 20px 5px 20px 0px;
    a {
        text-decoration: none;
        color: $text-color-dark;
    }
}

.card-showcase {
    width: 180px;
    height: 240px;
    object-fit: cover;
    object-position: 0% 30%;
    /* Hero card renders are not centered for whatever reason so we gotta do the job ourselves */
    &.hero-pos {
        object-position: 0% 65%;
    }
}

.card-token {
    $width-cost: 32px;
    $width-name: 200px;
    $width-exp: 128px;
    $width-class: 128px + 32px;
    $width-stats: 66px;
    $height: 32px; // does not include borders.

    @mixin normalize-cell-text () {
        line-height: $height - 1;
        text-align: center;
        font-weight: $semibold;
    }

    display: flex;
    height: $height + 1;

    &:nth-child(even) {
        background-color: $background-color-bright2;
    }

    .card-cost {
        //display: inline-block;
        width: $width-cost;
        height: $height;
        font-size: 16pt;
        text-align: center;
        line-height: 31px;
        @include manafy();
        border: 1px solid black;
        &.rarity-free      { background-color: $rarity-basic;    }
        &.rarity-common    { background-color: $rarity-common;    }
        &.rarity-rare      { background-color: $rarity-rare;      }
        &.rarity-epic      { background-color: $rarity-epic;      }
        &.rarity-legendary { background-color: $rarity-legendary; }
    }
    .card-name {
        height: $height;
        width: $width-name;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        .tile {
            display: block;
            position: absolute;
            height: inherit;
            width: inherit;
            object-fit: cover;
        }
        .tile-fade-out {
            $threshold: 35%; // the start of the transition from color to image.
            $spread: 35%; // the extent of the transition. 0% will produce a hard border.

            position: absolute;
            width: 200px;
            height: $height;
            background: linear-gradient(120deg, #333, #333 $threshold, transparent $threshold + $spread, transparent);
        }
        .caption {
            display: block;
            position: absolute;
            height: inherit;
            width: inherit;
            @include cardfy();
            line-height: $height - 1;
            padding-left: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .card-stats {
        display: flex;
        height: 32px;
        width: $width-stats;
        .card-atk, .card-hp, .card-void {
            width: 32px;
            height: 32px;
            @include manafy();
            line-height: $height - 1;
            text-align: center;
            font-size: 16pt;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
        }
        .card-atk {
            background-color: #ffbb00;
        }
        .card-hp {
            background-color: #a71300;
        }
        .card-void {
            background-color: transparent;
        }
    }
    .card-exp {
        height: $height + 1;
        width: $width-exp;
        border-right: 1px solid $gray1;
        border-bottom: 1px solid $gray1;
        @include normalize-cell-text();
    }
    .card-class {
        height: $height + 1;
        width: $width-class;
        border-right: 1px solid $gray1;
        border-bottom: 1px solid $gray1;
        padding-left: 5px;

        .class-display-icon {
            float: left;
        }
        .class-label {
            display: inline-block;
            height: $height + 1;
            width: 128px;
            @include normalize-cell-text();
        }
    }
    .card-desc {
        height: $height + 1;
        padding-left: 12px;
        width: calc(100% - #{$width-cost} - #{$width-name} - #{$width-exp} - #{$width-class} - #{$width-stats} - 24px);
        line-height: $height - 1;
        border-bottom: 1px solid $gray1;

        span {
            display: inline-block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.card-token-reduced {
    $height: 32px; // does not include borders.
    $cost-amount-width: 32px;
    $width: 232px;

    @mixin normalize-cell-text () {
        line-height: $height - 1;
        text-align: center;
        font-weight: $semibold;
    }

    display: flex;
    height: $height + 1;
    width: $width + 3;

    &:nth-child(even) {
        background-color: $background-color-bright2;
    }

    .card-cost {
        //display: inline-block;
        width: $cost-amount-width;
        height: $height;
        font-size: 16pt;
        text-align: center;
        line-height: 31px;
        @include manafy();
        border: 1px solid black;
        &.rarity-free      { background-color: $rarity-basic;    }
        &.rarity-common    { background-color: $rarity-common;    }
        &.rarity-rare      { background-color: $rarity-rare;      }
        &.rarity-epic      { background-color: $rarity-epic;      }
        &.rarity-legendary { background-color: $rarity-legendary; }
    }
    .card-name {
        height: $height;
        width: $width - $cost-amount-width;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        .tile {
            display: block;
            position: absolute;
            height: inherit;
            width: inherit;
            object-fit: cover;
        }
        .tile-fade-out {
            $threshold: 35%; // the start of the transition from color to image.
            $spread: 35%; // the extent of the transition. 0% will produce a hard border.

            position: absolute;
            width: 200px;
            height: $height;
            background: linear-gradient(120deg, #333, #333 $threshold, transparent $threshold + $spread, transparent);
        }
        .caption {
            display: block;
            position: absolute;
            height: inherit;
            width: inherit;
            @include cardfy();
            line-height: $height - 1;
            padding-left: 10px;
        }
    }
    .card-amount {
        position: absolute;
        left: $width + 2;
        width: $cost-amount-width;
        height: $height;
        font-size: 16pt;
        text-align: center;
        line-height: 31px;
        @include manafy();
        color: $secondary-color;
        border: 1px solid black;
        background-color: $primary-color;
        z-index: 2;
    }
}

.large-btn {
    font-family: $font-std;
    font-size: 14pt;
    font-weight: $semibold;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;

    &:hover {
        cursor: pointer;
    }

    &.btn-action {
        color: $secondary-color-text;
        background-color: $secondary-color;
        border: 1px solid $secondary-color-dark3;

        &:hover {
            color: $text-color-bright;
            background-color: $secondary-color-dark3;
        }
    }

    &.btn-import {
        color: #3b0703;
        background-color: $color-import;
        border: 1px solid $color-import-outline;

        &:hover {
            color: $text-color-bright;
            background-color: $color-import-outline;
        }
    }
    
}
.deck-list {
    max-width: 800px;

    .deck-token {
        $border-width: 5px;
        $height: 60px;

        border: $border-width solid $primary-color;
        outline: 1px solid $primary-color-dark2;
        width: calc(100% - #{$border-width} - 6px);
        max-width: 800px;
        height: $height;
        display: flex;

        .deck-name {
            width: calc(100% - #{$border-width} - 1px);
            max-width: 800px;
            height: $height;

            .tile {
                display: block;
                margin-right: 0;
                float: right;
                height: $height;
                width: 300px;
                max-width: 800px;
                object-fit: cover;
                object-position: 0 25%;
                border-right: $border-width solid $primary-color;
            }
            .tile-fade-out {
                $threshold: 60%; // the start of the transition from color to image.
                $spread: 15%; // the extent of the transition. 0% will produce a hard border.
    
                position: absolute;
                width: calc(100% - 390px - #{$border-width} - 20px);
                max-width: 725px;
                height: $height;
                background: linear-gradient(120deg, #333, #333 $threshold, transparent $threshold + $spread, transparent);

                &.DEMONHUNTER { background: linear-gradient(105deg, #25896e, #25896e $threshold, transparent $threshold + $spread, transparent); }
                &.DRUID       { background: linear-gradient(105deg, #573109, #573109 $threshold, transparent $threshold + $spread, transparent); }
                &.HUNTER      { background: linear-gradient(105deg, #1d7a00, #1d7a00 $threshold, transparent $threshold + $spread, transparent); }
                &.MAGE        { background: linear-gradient(105deg, #0c83af, #0c83af $threshold, transparent $threshold + $spread, transparent); }
                &.PALADIN     { background: linear-gradient(105deg, #b00550, #b00550 $threshold, transparent $threshold + $spread, transparent); }
                &.PRIEST      { background: linear-gradient(105deg, #b0b0b0, #b0b0b0 $threshold, transparent $threshold + $spread, transparent); }
                &.ROGUE       { background: linear-gradient(105deg, #f2d800, #f2d800 $threshold, transparent $threshold + $spread, transparent); }
                &.SHAMAN      { background: linear-gradient(105deg, #00386e, #00386e $threshold, transparent $threshold + $spread, transparent); }
                &.WARLOCK     { background: linear-gradient(105deg, #5318a3, #5318a3 $threshold, transparent $threshold + $spread, transparent); }
                &.WARRIOR     { background: linear-gradient(105deg, #8f0000, #8f0000 $threshold, transparent $threshold + $spread, transparent); }
                
                &:hover {
                    background-color: #ffb00d64;
                    outline: 6px solid $secondary-color;
                }
            }
            .caption {
                display: block;
                position: absolute;
                height: inherit;
                width: auto;
                @include manafy();
                font-size: 24pt;
                line-height: $height - 1px;
                padding-left: 35px;
            }
        }
        .deck-remove {
            background-color: #ca352a;
            width: $height;
            height: $height;

            &:hover {
                cursor: pointer;
                background-color: #a30b00;
                outline: 5px solid #ff0000;
            }

            span {
                padding: 8px;
                font-size: 32pt;
                color: #690801;
            }
        }
    }
}

.deck-view {
    border: 1px solid black;
    background-color: $primary-color-dark2;

    position: fixed;
    z-index: 2;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    height: calc(100% - 50px);
    width: 300px;
    scrollbar-width: thin;

    > .deck-hero {
        $width: 100%;
        $height: 100px;
        $border-radius: 7px;

        margin-top: 1px;
        border: $border-radius solid $secondary-color-dark1;
        width: $width;
        height: $height;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

        > .deck-hero-frame {
            width: calc(#{$width} - #{$border-radius * 2});
            height: $height - (2 * $border-radius);

            > img {
                position: absolute;
                width: inherit;
                height: inherit;
                object-fit: cover;
                object-position: 0% 20%;
            }

            > .deck-name {
                position: absolute;
                display: block;
                width: inherit;
                height: inherit;
    
                > input {
                    width: inherit;
                    line-height: 97px;
    
                    background-color: transparent;
                    border: none;
    
                    @include manafy();
                    font-size: 18pt;
                    text-align: center;
    
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    > .deck-cards {
        width: 235px;
        margin: 10px 0 20px 33px;
        min-height: calc(100vh - 220px);
        max-height: 500px;
        transition: background-color 1.2s ease-out;
        scrollbar-color: red;

        &.display-border {
            outline: 2px dashed $primary-color-light2;
        }

        &.display-warning {
            outline: 2px solid red;
            background-color: red;
            transition: background-color 0s;
        }
    }

    > .deck-actions {
        background-color: $primary-color;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        .deck-card-count {
            float: right;
            width: 51px;
            text-align: center;
            background-color: $secondary-color-dark1;
            padding: 5px 10px;
            border-radius: 5px;
            margin-left: 25px;
            font-weight: $semibold;
        }
        
        button {
            float: left;
            border: none;
            padding: 5px 10px;
            font-size: 11pt;
        }

        .deck-save {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: $gray2;
            &:hover {
                z-index: 5;
                box-shadow: 0 0 0 2px $gray4;
            }
        }

        .deck-save-exit {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: $secondary-color;
            &:hover {
                z-index: 5;
                box-shadow: 0 0 0 2px $secondary-color-dark2;
            }
        }
    }

    > .deck-code-actions {
        background-color: $secondary-color-dark1;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        button {
            float: left;
            border: none;
            padding: 5px 10px;
            font-size: 11pt;
            display: flex;
            align-items: center;
            .material-icons {
                font-size: 15pt;
                padding-right: 5px;
            }
        }

        .deck-import {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: $color-import;
            &:hover {
                z-index: 5;
                box-shadow: 0 0 0 2px $color-import-outline;
            }
        }

        .deck-export {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: $color-export;
            &:hover {
                z-index: 5;
                box-shadow: 0 0 0 2px $color-export-outline;
            }
        }

        .deck-pdf {
            border-radius: 5px;
            background-color: $primary-color-light1;
            margin-left: 10px;
            &:hover {
                z-index: 5;
                box-shadow: 0 0 0 2px $primary-color-dark2;
            }
        }
    }
}

.class-icon {
    width: 32px;
}
.class-icon-large {
    width: 64px;
}

.disable-screen {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: #00000080;
}

.modal-dialog {
    z-index: 102;
    background-color: $background-color-bright;
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px 30px;

    &.large-dialog {
        width: fit-content;
        min-width: 600px;
        max-width: 900px;
    }
    &.small-dialog {
        min-width: 300px;
        max-width: 300px;
        width: 300px;
    }

    .field {
        padding: 10px 0;
        display: flex;
        align-items: center;

        label {
            float: left;
            padding-right: 10px;
            white-space: nowrap;
        }

        input[type=text] {
            background-color: transparent;
            border: none;
            border-bottom: 2px solid $gray3;
            font-size: 14pt;
            width: 100%;
    
            &:focus {
                outline: none;
                border-bottom: 2px solid $primary-color;
                &::placeholder {
                    color: $primary-color;
                }
            }
            &::placeholder {
                color: $gray3;
            }

            &.error {
                border-bottom: 2px solid $error;
                &::placeholder {
                    color: $error;
                }
            }
        }

        input[type=number] {
            background-color: transparent;
            border: none;
            border-bottom: 2px solid $gray3;
            font-size: 14pt;
            width: 100%;
        }

        input[type=color] {
            border: 3px solid $primary-color;
            border-radius: 5px;
            height: 30px;
            padding: 1px;
            background-color: $primary-color;
            outline: none;
        }

        input[type=time] {
            font-family: $font-std;
            font-size: 10pt;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid $gray3;
            font-size: 14pt;
            width: 100%;

            + label {
                margin-left: 8px;
            }
        }

        input[type=checkbox] + label {
            padding-left: 6px;
        }
    }

    .field-radiogroup {
        border: 1px solid $primary-color;
        border-radius: 6px;
        padding: 5px 12px;
        width: 120px;
        
        .group-name {
            display: block;
            font-weight: $semibold;
            text-align: center;
        }

        .radio-option {
            display: block;

            label {
                padding-left: 6px;
            }

            input[type=radio] {
                &:checked + label {
                    font-weight: $semibold;
                }
            }
        }
    }
    
    .button-row {
        width: 100%;
        text-align: right;

        button {
            border: none;
            border-radius: 5px;
            padding: 8px 16px;
            margin: 5px 5px;
            font-size: 12pt;
        }
        .btn-cancel {
            background-color: $gray2;
            &:hover {
                box-shadow: 0 0 0 2px $gray4;
            }
        }
        .btn-action {
            background-color: $secondary-color-dark1;
            &:hover {
                box-shadow: 0 0 0 2px $secondary-color-dark3;
            }
        }
        .btn-import {
            background-color: $color-import;
            &:hover {
                box-shadow: 0 0 0 2px $color-import-outline;
            }
        }
        .btn-export {
            background-color: $color-export;
            &:hover {
                box-shadow: 0 0 0 2px $color-export-outline;
            }
        }
    }

    .notif {
        display: block;
        text-align: right;
        font-weight: $semibold;
        color: $color-import-outline;
        padding: 0 0 5px 0;
    };
}

.class-selection {
    .class-icon-large {
        display: inline-block;
        cursor: pointer;

        &:not(.chosen) {
            opacity: 60%;
        }
    }
}

.deck-card-delete-area {
    position: fixed;
    margin-top: 50px;
    margin-right: 300px;
    z-index: 10;

    min-height: calc(100vh - 150px - 300px);
    width: calc(100% - 650px);

    background: $secondary-color-light1;
    text-align: center;
    outline: 2px dashed $primary-color;

    > span {
        color: $primary-color;
        font-weight: $semibold;
        font-size: 28pt;
        display: block;
        margin-top: calc(((100vh - 150px - 300px) / 2) - 28pt);
    }
}

.draggable {
    &:hover {
        cursor: grab;
    }
}

.no-scroll {
    overflow: hidden;
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.card-hover {
    position: fixed;
    background: transparent;
    z-index: 200;
}

option {
    &:hover {
        color: red;
    }
}

.store-list {
    $padding: 30px;
    position: fixed;
    width: calc(300px - #{$padding * 2});
    height: calc(100vh - #{$navbar-height});
    border-right: 1px solid $primary-color;
    padding: 5px $padding;
    overflow: auto;
    
    scrollbar-width: thin;
    &::-webkit-scrollbar { 
        display: none; 
    }

    h2 {
        padding-left: 5px;
    }

    .store-token {
        width: calc(100% - 4px);
        height: 64px;
        border-radius: 6px;
        margin-bottom: 5px;
        border: 2px solid $primary-color;

        &:hover {
            cursor: pointer;
        }
    
        .store-name {
            display: block;
            width: 100%;
            padding: 5px 16px;
            @include cardfy();
            font-size: 16pt;
        }

        .store-loc {
            display: block;
            width: calc(100% - 8px);
            text-align: right;
            text-shadow: 2px 2px 4px #ffffff60;
            font-weight: $semibold;
        }
    }
}

.store-map {
    width: 100%;
    max-width: 900px;
    height: 80vh;
    max-height: 750px;
    z-index: 1;

    .map-popup {
        width: 200px;
        padding: 0;

        span {
            display: block;
            padding: 1px 5px;
            border-radius: 4px;
        }

        .store-name {
            padding: 5px;
            width: calc(100% - 10px);
            text-align: center;
            @include cardfy();
            margin-bottom: 10px;
        }

        .store-delete {
            text-align: center;
            margin-top: 8px;

            button {
                border: 1px solid $color-import-outline;
                border-radius: 6px;
                background: $color-import;
                color: $text-color-bright;
                padding: 5px 12px;
                font-size: 12pt;

                &:hover {
                    background: $color-import-outline;
                }
            }
        }
    }
}