/******  PRIMARY COLOR  ******/
/******  SECONDARY COLOR  ******/
/******  GRAY  ******/
/******  MISC  ******/
/******  BACKGROUND COLORS  ******/
/******  TEXT COLORS  ******/
/******  SPECIAL COLORS  ******/
/* renders the text of this element as mana (Belwe Std Bold font, white color with black outline) */
/* renders the text as white with a black outline */
@font-face {
  font-family: "Belwe Std Bold";
  src: url("fonts/belwe-std-bold.otf") format("opentype");
}
:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

b {
  font-weight: 600;
}

body {
  background-color: #e1e1e1;
  color: #1e1e1e;
  margin: 0;
}

/* the content section must fit the entire screen except for the part covered by the navbar */
.page-content {
  margin-top: 50px;
  margin-left: 0px;
  min-height: calc(100vh - 50px);
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background: #492609;
  width: 100%;
  height: 50px;
  padding-right: 100px;
  color: #fffbdb;
  z-index: 10;
}
.navbar .nav-item {
  font-weight: 600;
  line-height: 35pt;
  color: #fffbdb;
  text-decoration: none;
}
.navbar .nav-item:focus, .navbar .nav-item:active {
  outline: none;
  border: none;
  -moz-outline-style: none;
}
.navbar .nav-item.title {
  float: left;
  font-size: 18pt;
  padding-left: 130px;
}
.navbar .nav-item:not(.title) {
  float: right;
  padding-right: 20px;
}

main {
  margin-top: 50px;
  height: calc(100vh - 50px - 20px);
  padding: 10px 20px;
}
main.left-aside {
  margin-left: 300px;
}
main.right-aside {
  margin-right: 300px;
}

.aside-tools {
  background-color: #ffb00d;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  height: calc(100% - 50px);
  width: 300px;
  /* make scrollbar smaller again */
  scrollbar-width: thin;
}
.aside-tools::-webkit-scrollbar {
  display: none;
}
.aside-tools a {
  text-decoration: none;
  color: #1e1e1e;
}
.aside-tools span a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #1e1e1e;
}
.aside-tools span.title {
  display: block;
  width: 100%;
  font-size: 14pt;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  height: 40px;
  padding-top: 15px;
}
.aside-tools span.section {
  display: block;
  width: 100%;
  background-color: #e18921;
  padding: 3px 0 3px 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3f1811;
}
.aside-tools span.option {
  display: block;
  width: 100%;
  padding: 5px 0 5px 20px;
}
.aside-tools span.option:not(:last-child) {
  border-bottom: 1px solid #e18921;
}
.aside-tools span.option.chosen {
  background-color: #492609;
  color: #e1e1e1;
  border-bottom: 1px solid #1d1209;
}
.aside-tools span.option.chosen:hover {
  background-color: #694429;
}
.aside-tools span.option:hover {
  cursor: pointer;
  background-color: #facd5f;
}
.aside-tools div.legend-info {
  width: 100%;
  height: 22px;
  padding: 5px 0 5px 0;
}
.aside-tools div.legend-info > .legend {
  float: left;
  padding-left: 20px;
}
.aside-tools div.legend-info > .value {
  float: right;
  padding-right: 20px;
  text-align: right;
  font-weight: 600;
  color: #492609;
}
.aside-tools div.legend-info:not(:last-child) {
  border-bottom: 1px solid #e18921;
}
.aside-tools div.legend-info-icon {
  width: 100%;
  height: 32px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.aside-tools div.legend-info-icon > .legend {
  float: left;
  padding-left: 20px;
  line-height: 27px;
}
.aside-tools div.legend-info-icon > .value {
  float: right;
  padding-right: 16px;
}
.aside-tools div.legend-info-icon > .value > span {
  float: left;
  text-align: right;
  font-weight: 600;
  color: #492609;
  padding-right: 8px;
  line-height: 27px;
}
.aside-tools div.legend-info-icon > .value > img {
  display: block;
  float: right;
}
.aside-tools div.legend-info-icon:not(:last-child) {
  border-bottom: 1px solid #e18921;
}
.aside-tools div.info {
  width: 100%;
  text-align: center;
  padding: 5px 0 5px 0;
}
.aside-tools div.info > span {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  color: #492609;
}
.aside-tools div.info:not(:last-child) {
  border-bottom: 1px solid #e18921;
}
.aside-tools div.info.flavor {
  font-style: italic;
}
.aside-tools div.class-buttons, .aside-tools div.cost-buttons {
  text-align: center;
  margin: 10px 30px 10px 30px;
}
.aside-tools div.class-buttons > .button, .aside-tools div.cost-buttons > .button {
  margin: 0 2px 0 2px;
}
.aside-tools div.class-buttons > .button:hover, .aside-tools div.cost-buttons > .button:hover {
  cursor: pointer;
}
.aside-tools div.class-buttons > .button:not(.chosen), .aside-tools div.cost-buttons > .button:not(.chosen) {
  opacity: 60%;
}
.aside-tools div.display-card {
  width: 100%;
  padding: 10px 0 15px 0;
}
.aside-tools div.display-card img {
  display: block;
  margin: 0 auto;
  width: 256px;
  height: 335px;
  object-fit: cover;
  object-position: 0 30%;
}
.aside-tools div.display-card img.hero-pos {
  object-position: 0 60%;
}
.aside-tools .play-audio {
  width: 48px;
  height: 24px;
  margin-top: -1px;
  border: none;
  border-radius: 4px;
  background-color: #e18921;
  font-size: 16pt;
  color: #3f1811;
}
.aside-tools .play-audio:focus, .aside-tools .play-audio:active {
  outline: none;
  border: none;
  outline-style: none;
  -moz-outline-style: none;
}

.class-button:focus, .class-button:active {
  outline: none;
  border: none;
  -moz-outline-style: none;
}

.mana-crystal {
  display: inline-block;
  background-image: url("/src/img/mana-crystal.png");
  width: 32px;
  height: 32px;
  font-size: 16pt;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Belwe Std Bold", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.card-filters {
  display: flex;
}
.card-filters .search-card {
  width: calc(100% - 250px);
  max-width: 500px;
  position: relative;
}
.card-filters .search-card > input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #492609;
  font-size: 11pt;
  padding: 7px 0px 7px 35px;
  width: calc(100% - 35px);
  max-width: 500px;
}
.card-filters .search-card > input:focus {
  outline: none;
}
.card-filters .search-card > span {
  color: #492609;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
.card-filters .filter-exp {
  padding-left: 20px;
}
.card-filters .filter-exp > select {
  width: 250px;
  background-color: transparent;
  font-weight: 600;
  color: #492609;
  border: 1px solid #492609;
  border-radius: 5px;
  padding: 7px 0px 7px 5px;
}
.card-filters .filter-exp > select option:first-child {
  color: #878787;
}

.card-container-gallery, .card-container-list {
  margin: 20px 5px 20px 0px;
}
.card-container-gallery a, .card-container-list a {
  text-decoration: none;
  color: #1e1e1e;
}

.card-showcase {
  width: 180px;
  height: 240px;
  object-fit: cover;
  object-position: 0% 30%;
  /* Hero card renders are not centered for whatever reason so we gotta do the job ourselves */
}
.card-showcase.hero-pos {
  object-position: 0% 65%;
}

.card-token {
  display: flex;
  height: 33px;
}
.card-token:nth-child(even) {
  background-color: #eaeaea;
}
.card-token .card-cost {
  width: 32px;
  height: 32px;
  font-size: 16pt;
  text-align: center;
  line-height: 31px;
  font-family: "Belwe Std Bold", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  border: 1px solid black;
}
.card-token .card-cost.rarity-free {
  background-color: #247222;
}
.card-token .card-cost.rarity-common {
  background-color: #858585;
}
.card-token .card-cost.rarity-rare {
  background-color: #286097;
}
.card-token .card-cost.rarity-epic {
  background-color: #674196;
}
.card-token .card-cost.rarity-legendary {
  background-color: #99631d;
}
.card-token .card-name {
  height: 32px;
  width: 200px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.card-token .card-name .tile {
  display: block;
  position: absolute;
  height: inherit;
  width: inherit;
  object-fit: cover;
}
.card-token .card-name .tile-fade-out {
  position: absolute;
  width: 200px;
  height: 32px;
  background: linear-gradient(120deg, #333, #333 35%, transparent 70%, transparent);
}
.card-token .card-name .caption {
  display: block;
  position: absolute;
  height: inherit;
  width: inherit;
  font-weight: 600;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  line-height: 31px;
  padding-left: 10px;
}
.card-token .card-stats {
  display: flex;
  height: 32px;
  width: 66px;
}
.card-token .card-stats .card-atk, .card-token .card-stats .card-hp, .card-token .card-stats .card-void {
  width: 32px;
  height: 32px;
  font-family: "Belwe Std Bold", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  line-height: 31px;
  text-align: center;
  font-size: 16pt;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.card-token .card-stats .card-atk {
  background-color: #ffbb00;
}
.card-token .card-stats .card-hp {
  background-color: #a71300;
}
.card-token .card-stats .card-void {
  background-color: transparent;
}
.card-token .card-exp {
  height: 33px;
  width: 128px;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  line-height: 31px;
  text-align: center;
  font-weight: 600;
}
.card-token .card-class {
  height: 33px;
  width: 160px;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
}
.card-token .card-class .class-display-icon {
  float: left;
}
.card-token .card-class .class-label {
  display: inline-block;
  height: 33px;
  width: 128px;
  line-height: 31px;
  text-align: center;
  font-weight: 600;
}
.card-token .card-desc {
  height: 33px;
  padding-left: 12px;
  width: calc(100% - 32px - 200px - 128px - 160px - 66px - 24px);
  line-height: 31px;
  border-bottom: 1px solid #c3c3c3;
}
.card-token .card-desc span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-token-reduced {
  display: flex;
  height: 33px;
  width: 235px;
}
.card-token-reduced:nth-child(even) {
  background-color: #eaeaea;
}
.card-token-reduced .card-cost {
  width: 32px;
  height: 32px;
  font-size: 16pt;
  text-align: center;
  line-height: 31px;
  font-family: "Belwe Std Bold", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  border: 1px solid black;
}
.card-token-reduced .card-cost.rarity-free {
  background-color: #247222;
}
.card-token-reduced .card-cost.rarity-common {
  background-color: #858585;
}
.card-token-reduced .card-cost.rarity-rare {
  background-color: #286097;
}
.card-token-reduced .card-cost.rarity-epic {
  background-color: #674196;
}
.card-token-reduced .card-cost.rarity-legendary {
  background-color: #99631d;
}
.card-token-reduced .card-name {
  height: 32px;
  width: 200px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.card-token-reduced .card-name .tile {
  display: block;
  position: absolute;
  height: inherit;
  width: inherit;
  object-fit: cover;
}
.card-token-reduced .card-name .tile-fade-out {
  position: absolute;
  width: 200px;
  height: 32px;
  background: linear-gradient(120deg, #333, #333 35%, transparent 70%, transparent);
}
.card-token-reduced .card-name .caption {
  display: block;
  position: absolute;
  height: inherit;
  width: inherit;
  font-weight: 600;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  line-height: 31px;
  padding-left: 10px;
}
.card-token-reduced .card-amount {
  position: absolute;
  left: 234px;
  width: 32px;
  height: 32px;
  font-size: 16pt;
  text-align: center;
  line-height: 31px;
  font-family: "Belwe Std Bold", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  color: #ffb00d;
  border: 1px solid black;
  background-color: #492609;
  z-index: 2;
}

.action-btn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14pt;
  font-weight: 600;
  color: #3f1811;
  padding: 10px 20px;
  background-color: #ffb00d;
  border: 1px solid #954727;
  border-radius: 5px;
}

.deck-list {
  max-width: 800px;
}
.deck-list .deck-token {
  border: 5px solid #492609;
  outline: 1px solid #1d1209;
  width: calc(100% - 5px - 6px);
  max-width: 800px;
  height: 60px;
  display: flex;
}
.deck-list .deck-token .deck-name {
  width: calc(100% - 5px - 1px);
  max-width: 800px;
  height: 60px;
}
.deck-list .deck-token .deck-name .tile {
  display: block;
  margin-right: 0;
  float: right;
  height: 60px;
  width: 300px;
  max-width: 800px;
  object-fit: cover;
  object-position: 0 25%;
  border-right: 5px solid #492609;
}
.deck-list .deck-token .deck-name .tile-fade-out {
  position: absolute;
  width: calc(100% - 530px - 5px - 1px);
  max-width: 800px;
  height: 60px;
  background: linear-gradient(120deg, #333, #333 60%, transparent 75%, transparent);
}
.deck-list .deck-token .deck-name .tile-fade-out.DEMONHUNTER {
  background: linear-gradient(105deg, #25896e, #25896e 60%, transparent 75%, transparent);
}
.deck-list .deck-token .deck-name .tile-fade-out.DRUID {
  background: linear-gradient(105deg, #573109, #573109 60%, transparent 75%, transparent);
}
.deck-list .deck-token .deck-name .tile-fade-out.HUNTER {
  background: linear-gradient(105deg, #1d7a00, #1d7a00 60%, transparent 75%, transparent);
}
.deck-list .deck-token .deck-name .tile-fade-out.MAGE {
  background: linear-gradient(105deg, #0c83af, #0c83af 60%, transparent 75%, transparent);
}
.deck-list .deck-token .deck-name .tile-fade-out.PALADIN {
  background: linear-gradient(105deg, #b00550, #b00550 60%, transparent 75%, transparent);
}
.deck-list .deck-token .deck-name .tile-fade-out.PRIEST {
  background: linear-gradient(105deg, #b0b0b0, #b0b0b0 60%, transparent 75%, transparent);
}
.deck-list .deck-token .deck-name .tile-fade-out.ROGUE {
  background: linear-gradient(105deg, #f2d800, #f2d800 60%, transparent 75%, transparent);
}
.deck-list .deck-token .deck-name .tile-fade-out.SHAMAN {
  background: linear-gradient(105deg, #00386e, #00386e 60%, transparent 75%, transparent);
}
.deck-list .deck-token .deck-name .tile-fade-out.WARLOCK {
  background: linear-gradient(105deg, #5318a3, #5318a3 60%, transparent 75%, transparent);
}
.deck-list .deck-token .deck-name .tile-fade-out.WARRIOR {
  background: linear-gradient(105deg, #8f0000, #8f0000 60%, transparent 75%, transparent);
}
.deck-list .deck-token .deck-name .caption {
  display: block;
  position: absolute;
  height: inherit;
  width: auto;
  font-family: "Belwe Std Bold", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-size: 24pt;
  line-height: 59px;
  padding-left: 35px;
}
.deck-list .deck-token .deck-remove {
  background-color: #ca352a;
  width: 60px;
  height: 60px;
}
.deck-list .deck-token .deck-remove:hover {
  cursor: pointer;
  background-color: #690801;
}
.deck-list .deck-token .deck-remove span {
  padding: 8px;
  font-size: 32pt;
  color: #690801;
}

.deck-view {
  border: 1px solid black;
  background-color: #1d1209;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  height: calc(100% - 50px);
  width: 300px;
  scrollbar-width: thin;
}
.deck-view > .deck-hero {
  margin-top: 1px;
  border: 7px solid #e18921;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.deck-view > .deck-hero > .deck-hero-frame {
  width: calc(100% - 14px);
  height: 86px;
}
.deck-view > .deck-hero > .deck-hero-frame > img {
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: 0% 20%;
}
.deck-view > .deck-hero > .deck-hero-frame > .deck-name {
  position: absolute;
  display: block;
  width: inherit;
  height: inherit;
}
.deck-view > .deck-hero > .deck-hero-frame > .deck-name > input {
  width: inherit;
  line-height: 97px;
  background-color: transparent;
  border: none;
  font-family: "Belwe Std Bold", sans-serif;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-size: 18pt;
  text-align: center;
}
.deck-view > .deck-hero > .deck-hero-frame > .deck-name > input:focus {
  outline: none;
}
.deck-view > .deck-cards {
  width: 235px;
  margin: 10px 0 20px 33px;
  min-height: calc(100vh - 200px);
  max-height: 500px;
  transition: background-color 1.2s ease-out;
}
.deck-view > .deck-cards.display-border {
  outline: 2px dashed #8a6449;
}
.deck-view > .deck-cards.display-warning {
  outline: 2px solid red;
  background-color: red;
  transition: background-color 0s;
}
.deck-view > .deck-actions {
  background-color: #492609;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deck-view > .deck-actions .deck-card-count {
  float: right;
  width: 51px;
  text-align: center;
  background-color: #e18921;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 25px;
  font-weight: 600;
}
.deck-view > .deck-actions button {
  float: left;
  border: none;
  padding: 5px 10px;
  font-size: 11pt;
}
.deck-view > .deck-actions .deck-save {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #a5a5a5;
}
.deck-view > .deck-actions .deck-save:hover {
  z-index: 5;
  box-shadow: 0 0 0 2px #787878;
}
.deck-view > .deck-actions .deck-save-exit {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffb00d;
}
.deck-view > .deck-actions .deck-save-exit:hover {
  z-index: 5;
  box-shadow: 0 0 0 2px #bd6628;
}

.class-icon {
  width: 32px;
}

.class-icon-large {
  width: 64px;
}

.disable-screen {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
}

.modal-dialog {
  z-index: 102;
  background-color: #e1e1e1;
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px 30px;
}
.modal-dialog.large-dialog {
  width: fit-content;
  min-width: 600px;
  max-width: 900px;
}
.modal-dialog .field {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.modal-dialog .field > input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #878787;
  font-size: 14pt;
  width: 100%;
}
.modal-dialog .field > input:focus {
  outline: none;
  border-bottom: 2px solid #492609;
}
.modal-dialog .field > input:focus::placeholder {
  color: #492609;
}
.modal-dialog .field > input::placeholder {
  color: #878787;
}
.modal-dialog .field > input.error {
  border-bottom: 2px solid #8f0000;
}
.modal-dialog .field > input.error::placeholder {
  color: #8f0000;
}
.modal-dialog .field > label {
  float: left;
  padding-right: 10px;
  white-space: nowrap;
}
.modal-dialog .button-row {
  width: 100%;
  text-align: right;
}
.modal-dialog .button-row button {
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 5px 5px;
  font-size: 12pt;
}
.modal-dialog .button-row .btn-cancel {
  background-color: #a5a5a5;
}
.modal-dialog .button-row .btn-cancel:hover {
  box-shadow: 0 0 0 2px #787878;
}
.modal-dialog .button-row .btn-action {
  background-color: #e18921;
}
.modal-dialog .button-row .btn-action:hover {
  box-shadow: 0 0 0 2px #954727;
}

.class-selection .class-icon-large {
  display: inline-block;
  cursor: pointer;
}
.class-selection .class-icon-large:not(.chosen) {
  opacity: 60%;
}

.deck-card-delete-area {
  position: fixed;
  margin-top: 50px;
  margin-right: 300px;
  z-index: 10;
  min-height: calc(100vh - 150px);
  width: calc(100% - 650px);
  background: #facd5f;
  text-align: center;
  outline: 2px dashed #492609;
}
.deck-card-delete-area > span {
  color: #492609;
  font-weight: 600;
  font-size: 28pt;
  display: block;
  margin-top: calc(((100vh - 150px) / 2) - 28pt);
}

.no-scroll {
  overflow: hidden;
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*# sourceMappingURL=index.css.map */
